/*
*
ОСНОВНЫЕ СТИЛИ И ПЕРЕМЕННЫЕ
*
*/
:root {
    --bg-site-color: #fff;
    --dark-site-color: #262626;
    --white: #fff;
    --black: #000;
    --blue-theme: #0049FF;
    --blue-hover: #003ACC;
    --font-normal: 17px;
    --font-small: 15px;
    --font-very-small: 13px;
    --fast-anim: 0s ease-out;
    --standart-anim: 0.2s ease-out;
    --b-radius: 10px;
    --gray: #999999;
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/manrope.ttf);
}

* {
    box-sizing: border-box;
    line-height: 25px;
}

@media (max-width: 991px) {
    * {
        line-height: 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
}

a[title="Вы тут!"] {
    color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: var(--blue-theme);
    margin: 0;
    font-family: Manrope;
    font-size: var(--font-normal);
    overflow-x: hidden;
}

@media (max-width: 1250px) {
    body {
        font-size: var(--font-small);
    }
}

.custom_scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #06131c;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-radius: 5px;
    border-color: #777;
    background-color: #aaa
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777
}

.custom_scrollbar::-webkit-scrollbar-track {
    border-width: 0
}

body.scroll_lock {
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    overflow-x: hidden;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
}

.standart_width {
    width: 61.46%;
}

@media (max-width: 1650px) {
    .standart_width {
        width: 80%;
    }
}

@media (max-width: 1300px) {
    .standart_width {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .standart_width {
        width: 100%;
    }

    .main_container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.svg_img {
    display: flex;
    height: 100%;
}

.svg_img svg {
    width: 100%;
}

img {
    width: 100%;
}


.img_wrapper {
    position: relative;
}

.img_wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img_wrapper img {
    opacity: 0;
    transition: opacity var(--standart-anim);
}

.img_wrapper img.loaded {
    opacity: 1;
}

.hide {
    visibility: hidden;
}

/*
*
ОСНОВНЫЕ СТИЛИ И ПЕРЕМЕННЫЕ
*
*/


/*блок с картинкой товара*/
.product_prevu_img_block {
    width: 100%;
    position: relative;
    opacity: 0;
    transition: opacity var(--standart-anim);
}

.product_prevu_img_block.loaded {
    opacity: 1;
}

.product_prevu_img_block img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*блок с картинкой товара*/




/*
*
ВЕРХУШКА САЙТА
*
*/
/*оболочка хедера*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg-site-color);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: #fff;
}

#overlay.show {
    display: block;
}

/*оболочка хедера*/

/*банер*/
.top_banner_wrap {
    z-index: 2;
    background-color: var(--bg-site-color);
}

.top_banner_wrap .img_wrapper {
    min-height: 80px;
}

.close_banner_wrap {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.close_banner {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.close_banner .line_1 {
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: 2px solid var(--dark-site-color);
    transform: rotate(45deg);
}

.close_banner .line_2 {
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: 2px solid var(--dark-site-color);
    transform: rotate(-45deg);
}

@media (max-width: 630px) {
    .close_banner_wrap {
        right: 8px;
    }
}

/*банер*/

/*оболочка меню*/
.header_menu_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--bg-site-color);
}

/*оболочка меню*/

/*видимая часть меню*/
.visible_header_part {
    width: 100%;
    height: 80px;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    background-color: var(--bg-site-color);
    z-index: 2;
}

@media (max-width: 1250px) {
    .visible_header_part {
        height: 100px;
        justify-content: space-around;
    }
}

@media (max-width: 800px) {
    .visible_header_part {
        padding: 0 30px;
    }
}

@media (max-width: 630px) {

    .visible_header_part {
        height: 60px;
        padding: 0 20px;
    }
}

/*видимая часть меню*/

/*логотип*/
.header_logo {
    margin-right: auto;
    width: 120px;
    display: flex;
    align-items: center;
}

.header_logo a {
    width: 100%;
}

@media (max-width: 630px) {
    .header_logo {
        width: 110px;
    }
}

@media (max-width: 310px) {
    .header_logo {
        width: 90px;
    }
}

/*логотип*/

/*картинка поиска*/
.header_search_button {
    display: flex;
    padding: 0 20px;
}

.header_search_button .svg_img {
    width: 14px;
}

@media (max-width: 1250px) {
    .header_search_button {
        padding: 0 30px;
    }
}

@media (max-width: 630px) {
    .header_search_button {
        display: none;
    }
}

/*картинка поиска*/

/*меню*/
.header_menu {
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.header_menu .header_menu_item {
    padding: 0 20px;
}

@media (max-width: 1250px) {
    .header_menu {
        order: 1;
        padding: 0;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 630px) {
    .header_menu {
        display: none;
    }
}

/*меню*/

/*телефон*/
.header_phone {
    display: flex;
    align-items: center;
}

.header_phone a {
    color: var(--blue-theme);
}

@media (max-width: 630px) {
    .header_phone {
        display: none;
    }
}

/*телефон*/

/*корзина*/
.header_cart {
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.header_cart .svg_img {
    width: 34px;
}

.header_cart .amount_product_in_cart {
    background: var(--blue-theme);
    border-radius: 50%;
    color: var(--white);
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .header_cart {
        font-size: var(--font-very-small);
        padding-left: 50px;
    }
}

@media (max-width: 630px) {
    .header_cart {
        padding-right: 20px;
    }

    .header_cart .svg_img {
        width: 30px;
    }

    .header_cart .amount_product_in_cart {
        min-width: 24px;
        min-height: 24px;

    }
}

@media (max-width: 310px) {
    .header_cart {
        padding: 0 10px;
    }
}

/*корзина*/

/*мобильная кнопка бургер меню*/
.header_burger_button {
    display: none;
}

@media (max-width: 630px) {
    .header_burger_button {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        top: 15px;
    }

    .header_burger_button .burger_line {
        width: 100%;
        border-top: 2px solid #262626;
        position: absolute;
        transition: all var(--standart-anim);
    }

    .header_burger_button .line_1 {
        top: 5px;
    }

    .header_burger_button .line_2 {
        top: 15px;
    }

    .header_burger_button .line_3 {
        top: 15px;
    }

    .header_burger_button .line_4 {
        top: 25px;
    }

    .open_menu .header_burger_button .line_1 {
        opacity: 0;
    }

    .open_menu .header_burger_button .line_2 {
        transform: rotate(45deg);
    }

    .open_menu .header_burger_button .line_3 {
        transform: rotate(-45deg);
    }

    .open_menu .header_burger_button .line_4 {
        opacity: 0;
    }
}

/*мобильная кнопка бургер меню*/

/*скрытая часть меню*/
.hidden_header_part {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bg-site-color);
}

@media (min-width: 631px) {
    .hidden_header_part {
        padding: 0;
    }
}

#shadow_block {
    width: 100%;
    height: 7px;
    box-shadow: 0px 7px 7px #D3D3D3;
    position: absolute;
    left: 0;
    bottom: 0;
}


.hidden_header_part {
    visibility: hidden;
}

.open_menu .hidden_header_part,
.open_search .hidden_header_part {
    visibility: visible;
}


/*скрытая часть меню*/

/*окно поиска*/
@media (min-width: 631px) {
    .search_wrapper {
        display: flex;
        width: 100%;
        background-color: var(--bg-site-color);
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding: 65px 0;
    }
}

.search_wrapper .search_input {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.search_wrapper input {
    border: none;
    outline: none;
    border-bottom: 2px solid #999999;
    font-size: 32px;
    font-weight: 700;
    color: #999999;
    padding: 20px 0;
    width: 80%;
}

.search_wrapper input.nachat_vvod {
    border-bottom: 1px solid #262626;
    color: #262626;
}

.search_wrapper .close_search {
    width: 20px;
    height: 20px;
    position: relative;
}

.search_wrapper .close_search>div {
    width: 100%;
    border-top: 2px solid #262626;
    position: absolute;
    top: 50%;
}

.search_wrapper .close_search .line_1 {
    transform: rotate(45deg);
}

.search_wrapper .close_search .line_2 {
    transform: rotate(-45deg);
}

.mobile_search_button {
    display: none;
}

@media (max-width: 1250px) {
    .search_wrapper input {
        padding: 10px 0;
    }
}

@media (max-width: 630px) {
    .search_wrapper {
        padding-top: 20px;
    }

    .search_wrapper.active {
        display: none;
    }

    .search_wrapper .search_input {
        width: 100%;
        position: relative;
    }

    .search_wrapper input {
        width: 100%;
    }

    .close_search {
        display: none;
    }

    .mobile_search_button {
        display: flex;
        width: 20px;
        height: 100%;
        position: absolute;
        right: 0;
    }

    .mobile_search_button .svg_img {
        width: 100%;
    }
}


.search_results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: var(--bg-site-color);
}

@keyframes loader_for_search {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search_loader {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(0, 73, 255, 0.5);
    border-top-color: rgb(0, 73, 255);
    animation: loader_for_search 1s infinite linear;
    width: 50px;
    height: 50px;
}

.results_wrapper {
    width: 50%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.result_item {
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.result_item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.search_description {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
}

.search_item_title {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
}

.small_dec {
    width: 100%;
    font-size: var(--font-normal);
    line-height: 25px;
    padding-bottom: 25px;
}

.price_block {
    width: 100%;
    display: flex;
}

.old_price {
    color: var(--gray);
    text-decoration: line-through;
    padding-right: 10px;
    font-size: var(--font-normal);
    line-height: 25px;
}

.current_price {
    padding-right: 10px;
    font-size: var(--font-normal);
    line-height: 25px;
}

.discont {
    font-size: var(--font-normal);
    line-height: 25px;
    color: var(--blue-theme);
}

.search_prevu {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 7px 20px 7px 0;
    position: relative;
}

span.search_target {
    color: var(--blue-theme);
}

img.search_arrow {
    width: 10%;
    position: absolute;
    right: 20px;
    top: 15%;
    z-index: 1;
}

.search_results_links {
    display: block;
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: var(--font-normal);
    line-height: 25px;
    color: var(--blue-theme);
}

.search_results_links a:first-child {
    padding-right: 40px;
}

.search_fail {
    font-size: 30px;
}

.search_fail span {
    font-size: 30px;
    font-weight: 600;
}

/*окно поиска*/

/*мобильное меню*/
@media (min-width: 631px) {
    .header_menu_mobile {
        display: none;
    }
}

@media (max-width: 630px) {
    .header_menu_mobile {
        padding: 70px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header_menu_mobile .header_menu_item {
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .header_menu_mobile .header_menu_item:last-child {
        padding-bottom: 0;
    }
}

/*мобильное меню*/

/*номер в мобильной версии*/
@media (min-width: 631px) {
    .header_phone_mobile {
        display: none;
    }
}


@media (max-width: 630px) {
    .header_phone_mobile {
        display: flex;
        align-items: center;
        padding-bottom: 60px;
    }

    .header_phone_mobile .svg_img {
        width: 20px;
        margin-right: 17px;
    }

    .header_phone_mobile a {
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        color: var(--blue-theme);
    }
}

/*номер в мобильной версии*/




























@media (max-width: 1250px) {
    .top_menu {
        order: 1;
        padding: 0;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 630px) {
    .top_menu {
        display: block;
        position: absolute;
        top: -330px;
        background-color: var(--bg-site-color);
        width: 100%;
        height: 330px;
        transition: top 1s linear;
    }

    .active .top_menu {
        top: 180px;
    }


}

/*меню*/

/*телефон*/
.phone {
    display: flex;
    align-items: center;
}

.phone a {
    color: var(--blue-theme);
}

.phone .svg_img {
    display: none;
}

@media (max-width: 630px) {
    .phone {
        top: -510px;
        transition: top 1s linear;
    }

    .active .phone {
        position: absolute;
        top: 510px;
        width: 100%;
        padding: 0 20px 65px 20px;
        background-color: var(--bg-site-color);
        font-size: 22px;
        font-weight: 700;
    }

    .phone .svg_img {
        display: block;
        width: 10px;
        margin-right: 20px;
    }
}

/*телефон*/




/*
*
ВЕРХУШКА САЙТА
*
*/




/*
*
НИЗ САЙТА
*
*/

/*оболочка футера*/
footer {
    background-color: var(--dark-site-color);
    color: var(--white);
}

.footer_wraper {
    padding-top: 80px;
    padding-bottom: 55px;
}

@media (max-width: 991px) {
    .footer_wraper {
        padding-bottom: 40px;
    }
}

@media (max-width:575px) {
    .footer_wraper {
        padding-top: 55px;
    }
}

/*оболочка футера*/







/*декорация футера*/
.foter_decoration {
    width: 87%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1650px) {
    .foter_decoration {
        width: 95%;
    }
}

@media (max-width: 1300px) {
    .foter_decoration {
        width: 98%;
    }
}

@media (max-width: 1200px) {
    .foter_decoration {
        width: 99.7%;
    }
}

.top_line,
.bottom_line,
.right_line,
.left_line,
.top_circle,
.bottom_circle {
    position: absolute;
}

.top_line {
    width: calc(100% - 25px);
    height: 2px;
    top: 0px;
    left: 25px;
    border-top: 2px solid #0049FF;
}

.bottom_line {
    width: calc(100% - 25px);
    height: 2px;
    bottom: 2px;
    left: 25px;
    border-top: 2px solid #0049FF;
}

.left_line {
    width: 2px;
    height: calc(100% - 2px);
    bottom: 27px;
    left: 0;
    border-left: 2px solid #0049FF;
}

.right_line {
    width: 2px;
    height: calc(100% - 2px);
    bottom: 50px;
    left: 25px;
    border-left: 2px solid #0049FF;
}

.top_circle {
    width: 25px;
    height: 50px;
    top: -48px;
    left: 0;
    border: 2px solid #0049ff;
    border-right: 0;
    border-radius: 100% 0 0 100% / 50%;
}

.bottom_circle {
    width: 25px;
    height: 50px;
    bottom: 2px;
    left: 0;
    border: 2px solid #0049ff;
    border-right: 0;
    border-radius: 100% 0 0 100% / 50%;
}


@media (max-width: 1200px) {
    .top_line {
        width: calc(100% - 20px);
        left: 20px;
    }

    .bottom_line {
        width: calc(100% - 20px);
        left: 20px;
    }

    .left_line {
        bottom: 22px;
    }

    .right_line {
        bottom: 40px;
        left: 20px;
    }

    .top_circle {
        width: 20px;
        height: 40px;
        top: -38px;
    }

    .bottom_circle {
        width: 20px;
        height: 40px;
    }
}

@media (max-width:575px) {
    .foter_decoration {
        width: 87%;
    }
}

/*декорация футера*/










/*блоки футера*/
.footer_item {
    align-content: space-between;
}

.menu_footer,
.select_model_page,
.info_footer {
    padding-bottom: 65px;
}


@media (max-width: 991px) {
    .footer_item>div:last-child {
        height: 60px;
    }
}

@media (max-width:575px) {
    .footer_item>div:last-child {
        height: auto;
    }

    .menu_footer,
    .select_model_page,
    .info_footer {
        padding-bottom: 40px;
    }

    .footer_wraper .footer_item:nth-child(2) {
        padding-bottom: 75px;
    }
}

/*блоки футера*/

/*первый блок*/
.menu_footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 24px;
}

.menu_footer ul li {
    padding-bottom: 14px;
    line-height: 30px;
}

@media (max-width: 991px) {
    .menu_footer ul li {
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 25px;
    }

    .menu_footer {
        padding-right: 20px;
    }
}

@media (max-width:575px) {
    .menu_footer {
        padding-right: 0;
    }
}

.menu_footer ul li:last-child {
    padding-bottom: 0;
}

/*первый блок*/

/*логотип в футере*/
.logo_footer a {
    display: block;
}

.logo_footer .svg_img {
    max-width: 180px;
}

@media (max-width: 991px) {
    .logo_footer .svg_img {
        max-width: 130px;
    }
}

@media (max-width:575px) {
    .logo_footer .svg_img {
        max-width: 170px;
    }

    .logo_footer {
        margin: auto;
    }
}

/*логотип в футере*/

/*второй блок*/
.select_model_page .select_model_column:first-child {
    padding-right: 20px;
}

.select_model_column>div {
    padding-bottom: 10px;
}

.select_model_column>div:last-child {
    padding-bottom: 0;
}

@media (max-width: 991px) {
    .select_model_column>div:last-child {
        padding-bottom: 5px;
    }

    .select_model_column>div {
        padding-bottom: 5px;
    }

    .select_model_column:last-child>div:last-child {
        padding-bottom: 0;
    }
}

/*второй блок*/

/*соцсети в футере*/
@media (min-width: 992px) {
    .social_footer .img_social {
        max-width: 36px;
        max-height: 36px;
        margin-right: 16px;
    }
}

.social_footer .img_social:last-child {
    margin-right: 0;
}

.social_footer .img_social a {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 991px) {
    .social_footer .img_social {
        max-height: 30px;
    }

    .social_footer .img_social .svg_img {
        height: 100%;
    }
}

@media (max-width:575px) {
    .social_footer {
        padding-bottom: 40px;
    }

    .social_footer .svg_img svg {
        width: auto;
    }
}

/*соцсети в футере*/

/*третий блок*/
.info_footer .phone_footer {
    font-size: 24px;
    padding-bottom: 15px;
    line-height: 30px;
}

.info_footer .mail {
    font-size: 24px;
    padding-bottom: 30px;
    line-height: 30px;
}

.organization_footer_info {
    font-size: 14px;
    padding-bottom: 24px;
    line-height: 20px;
}

.politica_konf {
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 991px) {
    .info_footer .phone_footer {
        font-size: 18px;
        padding-bottom: 20px;
        line-height: 25px;
    }

    .info_footer .mail {
        font-size: 18px;
        padding-bottom: 20px;
        line-height: 25px;
    }

    .organization_footer_info {
        font-size: 13px;
        padding-bottom: 20px;
    }

    .politica_konf {
        font-size: 13px;
    }
}

@media (max-width:575px) {
    .info_footer .phone_footer {
        padding-bottom: 0;
    }

    .info_footer .mail {
        padding-bottom: 37px;
    }

    .organization_footer_info {
        padding-bottom: 0;
    }

    .footer_item:last-child>.info_footer {
        padding-bottom: 23px;
    }
}

/*третий блок*/

/*платёжные системы в футере*/
.payment_sistem_img {
    max-width: 36px;
    max-height: 36px;
    margin-right: 16px;
}

.payment_sistem_img .svg_img {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .payment_sistem_img {
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
    }
}

/*платёжные системы в футере*/


/*
*
НИЗ САЙТА
*
*/



/*
*
ГЛАВНАЯ
*
*/

/*
*
БЛОК фоновая картинка, заголовок H1 и выбор марки с кнопкой
*
*/
.home_top_blok_fon_img_select_marka {
    padding-top: 80px;
    background-color: var(--blue-theme);
    color: var(--white);
}

/*картинка с текстом по кругу*/
.home_top_blok_fon_img_select_marka .circle_text_img_wrapper {
    justify-content: end;
}

.home_top_blok_fon_img_select_marka .circle_text_img {
    margin-right: 16.66%;
}

/*картинка с текстом по кругу*/

/*вторая половина блока (справа)*/
.home_top_blok_fon_img_select_marka .second_block {
    padding-left: 20px;
}

/*вторая половина блока (справа)*/

/*текст заголовка и под ним*/
.home_top_blok_fon_img_select_marka h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
}

/*текст заголовка и под ним*/

/*выбор марки*/
.home_top_blok_fon_img_select_marka .wrapper_select {
    min-height: 80px;
    margin: 40px 0;
}

.home_top_blok_fon_img_select_marka .select_marka {
    display: flex;
    overflow-x: hidden;
}

.home_top_blok_fon_img_select_marka .select_marka a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--b-radius);
    transition: all var(--standart-anim);
}

.home_top_blok_fon_img_select_marka .select_marka a:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

.home_top_blok_fon_img_select_marka .arrow_select_marka {
    min-width: 20px;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*выбор марки*/

/*кнопка выбора марки*/
.home_top_blok_fon_img_select_marka .select_marka_button {
    padding: 18px 60px;
    text-align: center;
    background-color: var(--dark-site-color);
    border-radius: var(--b-radius);
    cursor: pointer;
    transition: all var(--fast-anim);
}

.home_top_blok_fon_img_select_marka .select_marka_button:hover {
    background-color: var(--black);
}

/*кнопка выбора марки*/

/*декоративная вертикальная полоска*/
.dekor_line_on_home_page {
    background-color: var(--blue-theme);
    justify-content: center;
    padding-bottom: 80px;
}

.dekor_vertical_line {
    min-height: 80px;
    border-left: 2px solid var(--white);
}

/*декоративная вертикальная полоска*/

/*
*
БЛОК фоновая картинка, заголовок H1 и выбор марки с кнопкой
*
*/





/*
*
БЛОК видео на сине-белом фоне в верхней части главной страницы
*
*/
.video_on_white_blue_fon {
    background: linear-gradient(to bottom, var(--blue-theme) 50%, var(--white) 50%);
}

.video_on_white_blue_fon .video_wrper {
    border-radius: var(--b-radius);
}

.video_on_white_blue_fon .video_wrper img {
    width: 100%;
}

/*
*
БЛОК видео на сине-белом фоне в верхней части главной страницы
*
*/

/*
*
ГЛАВНАЯ
*
*/